<!DOCTYPE HTML>
<html>
<head>
    <title>Candlestick</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  background: #555;
}

.content {
  max-width: 500px;
  margin: auto;
}

body { background-color: #30303d; color: #fff; }

.chartdiv {
  width: 500px;
  height: 300px;
}

.chartdivW {
  border-radius: 5px;
  border: 1px solid #73AD21;
  padding: 2px;
  display:inline-block;
}

.chart-title {
    text-align: center;
    color: #73AD21;
}

#block_container > div {
    display: inline-block;
    vertical-align: middle;
}


</style>


<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>

am4core.ready(function() {

    chart1 = createChart("chartdiv1", "chartdivTitle", "BAC");

    chart2 = createChart("chartdiv2", "chartdivTitle2", "AAPL");
}); // end am4core.ready()

function createChart(divid, titleid, symbol) {
    // Themes begin
    am4core.useTheme(am4themes_dark);
    am4core.useTheme(am4themes_animated);
    // Themes end

    chart = am4core.create(divid, am4charts.XYChart);
    chart.paddingRight = 2;
    chart.fontSize = 9

    chart.dateFormatter.inputDateFormat = "yyyy-MM-dd";

    dateAxis = chart.xAxes.push(new am4charts.DateAxis());
    dateAxis.renderer.grid.template.location = 0;

    valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
    valueAxis.tooltip.disabled = true;

    series = chart.series.push(new am4charts.CandlestickSeries());
    series.dataFields.dateX = "date";
    series.dataFields.valueY = "close";
    series.dataFields.openValueY = "open";
    series.dataFields.lowValueY = "low";
    series.dataFields.highValueY = "high";
    series.simplifiedProcessing = true;
    series.tooltipText = "Open:${openValueY.value}\nLow:${lowValueY.value}\nHigh:${highValueY.value}\nClose:${valueY.value}";

    chart.cursor = new am4charts.XYCursor();

    // a separate series for scrollbar
    lineSeries = chart.series.push(new am4charts.LineSeries());
    lineSeries.dataFields.dateX = "date";
    lineSeries.dataFields.valueY = "close";
    // need to set on default state, as initially series is "show"
    lineSeries.defaultState.properties.visible = false;

    // hide from legend too (in case there is one)
    lineSeries.hiddenInLegend = true;
    lineSeries.fillOpacity = 0.5;
    lineSeries.strokeOpacity = 0.5;

    scrollbarX = new am4charts.XYChartScrollbar();
    scrollbarX.series.push(lineSeries);
    //chart.scrollbarX = scrollbarX;

    chart.dataSource.url="/chart/" + symbol;
    document.getElementById(titleid).innerHTML = symbol;


    return chart;
}




</script>
<body>

<div class="content">
    <!-- HTML -->
    <div class="chartdivW">
        <p id="chartdivTitle" class="chart-title"></p>
        <div id="chartdiv1" class="chartdiv"></div>
    </div>

    <div class="chartdivW">
        <p id="chartdivTitle2" class="chart-title"></p>
        <div id="chartdiv2" class="chartdiv"></div>
    </div>
</div>
</body>
</html>
